BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
SpaceAfterTemplateKeyword: false
AllowShortFunctionsOnASingleLine: false
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
ReturnTypeBreakingStyle: Automatic
DerivePointerAlignment: false
PointerAlignment: Right
IndentPragmas: true
BreakBeforeParameters: true
PenaltyBreakParameter: 0
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 100000
PenaltyBreakAssignment: 100000
PenaltyBreakBeforeTrailingReturnAnnotation: 100000
